In [7]:
import pandas as pd
import numpy as np
from pprint import pprint

In [8]:
df = pd.read_csv('../testing_ground/in-progress/steam-200k.csv')
print(df.columns)

print(df.tail(2))

Index(['user_id', 'name', 'status', 'hours'], dtype='object')
          user_id  name    status  hours
199998  128470551  RUSH  purchase    1.0
199999  128470551  RUSH      play    1.4

In [9]:
df = df[(df['hours']>=2) & (df['status']=='play')]
df_filtered = df[df.groupby('name').user_id.transform(len) >= 20]
df_filtered['name'].nunique()
df_filtered.head(20)

df_filtered['user_id'] = df_filtered['user_id'].astype(str)
averages = df_filtered.groupby(['name'],as_index=False).hours.mean()
averages['avg_hours'] = averages['hours']
averages.drop('hours',axis=1,inplace=True)
# averages.head(10)
# print(float(averages[averages["name"]=="The Witcher 3 Wild Hunt"]['hours']))

final_ratings = pd.merge(df_filtered,averages[['name','avg_hours']],on='name')
conditions = [
    (final_ratings['hours']>=0.8*final_ratings['avg_hours']),
    (final_ratings['hours']>=0.6*final_ratings['avg_hours']) & (final_ratings['hours']<0.8*final_ratings['avg_hours']),
    (final_ratings['hours']>=0.4*final_ratings['avg_hours']) & (final_ratings['hours']<0.6*final_ratings['avg_hours']),
    (final_ratings['hours']>=0.2*final_ratings['avg_hours']) & (final_ratings['hours']<0.4*final_ratings['avg_hours']),
    final_ratings['hours']>=0,
]
values = [5,4,3,2,1]
final_ratings['rating'] = np.select(conditions,values)
final_ratings

,user_id,name,status,hours,avg_hours,rating
0,151603712,The Elder Scrolls V Skyrim,play,273.0,115.351792,5
1,59945701,The Elder Scrolls V Skyrim,play,58.0,115.351792,3
2,92107940,The Elder Scrolls V Skyrim,play,110.0,115.351792,5
3,250006052,The Elder Scrolls V Skyrim,play,465.0,115.351792,5
4,11373749,The Elder Scrolls V Skyrim,play,220.0,115.351792,5
...,...,...,...,...,...,...
36540,51822361,"Warhammer 40,000 Dawn of War Soulstorm",play,23.0,14.109091,5
36541,38317154,"Warhammer 40,000 Dawn of War Soulstorm",play,5.5,14.109091,2
36542,36404933,"Warhammer 40,000 Dawn of War Soulstorm",play,5.8,14.109091,3
36543,87201181,"Warhammer 40,000 Dawn of War Soulstorm",play,24.0,14.109091,5
36544,34901647,"Warhammer 40,000 Dawn of War Soulstorm",play,15.4,14.109091,5

In [10]:
final_ratings = final_ratings.drop(['status','hours','avg_hours'],axis =1)
final_ratings

         user_id                                     name  rating
0      151603712               The Elder Scrolls V Skyrim       5
1       59945701               The Elder Scrolls V Skyrim       3
2       92107940               The Elder Scrolls V Skyrim       5
3      250006052               The Elder Scrolls V Skyrim       5
4       11373749               The Elder Scrolls V Skyrim       5
...          ...                                      ...     ...
36540   51822361  Warhammer 40,000 Dawn of War  Soulstorm       5
36541   38317154  Warhammer 40,000 Dawn of War  Soulstorm       2
36542   36404933  Warhammer 40,000 Dawn of War  Soulstorm       3
36543   87201181  Warhammer 40,000 Dawn of War  Soulstorm       5
36544   34901647  Warhammer 40,000 Dawn of War  Soulstorm       5

[36545 rows x 3 columns]

In [19]:
steam_games = pd.read_csv("../testing_ground/in-progress/steam.csv")
cols = list(steam_games.columns.values)

# steam_games
steam = steam_games[cols[0:2]]
final_rating = pd.merge(final_ratings,steam,on='name')

# final_ratings.to_csv("ratings.csv",index=False)


rating = pd.read_csv("../testing_ground/sanitized_rated.csv")
steam = pd.read_csv("../testing_ground/sanitized_steam_using_join.csv")

rating_games = rating['name'].unique()
steam_games = steam['name'].unique()


tareen = pd.merge(rating,steam,on='name')
tareen.head(10)
games_in_dataset = tareen.pivot_table(index='name',values='appid')
# games_in_dataset.to_csv("../data/games_in_dataset.csv")
# games_in_dataset.shape
# print(tareen.shape)
# print(tareen['name'].nunique())
# tareen.to_csv("../testing_ground/final_dataset1.csv",index=False)

(327, 1)